* {
  font-family: Helvetica;
  margin: 0;
}
body{
  background-color: rgb(34, 34, 34);
  color: white;
}

.container{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(130deg, rgb(4, 217, 255), rgb(134, 6, 255)) ;
  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;
  border-radius: 25px;
}
.seach{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seach input{
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  outline: none;
  flex: 1;
  margin-right: 16px;
  height: 30px;
}
.seach button{
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.seach button img{
  width: 20px;
  
}

.invalid{
  margin-top: 15px;
  text-align: left;
  color: rgb(206, 206, 206);
  margin-left: 20px;

  
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500px;
}
.weather h2{
  font-size: 45px;
  font-weight: 500px;
  margin-top: -10px;
}
.details{
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  

}
.col{
  display: flex;
  align-items: center;
  text-align: left;
  
}
.col img{
  width: 40px;
  margin-right: 10px;
}

.weather{
  display: none;
}

.weather-afterjs{
  display: block;
}
